<div class="wrapper">
    <loader [showLoader]="isLoading" />

    @if (tableRows) {
    <div class="table-wrap">
        <h1 class="title">Nimekiri</h1>
        <table>
            <thead>
                <tr>
                    @for (column of columns; track column.accessor;) {
                    <th (click)="column.sortable && sortBy(column.accessor)" [class]="{sortable: column.sortable}">
                        {{ column.label }} {{ column.sortable && sortIcon(column.accessor) }}
                    </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (tableRow of pageOfItems; track tableRow.id;) {
                <ng-container>
                    <tr (click)="handleSelectedRow(tableRow.id)" [class]="{open: this.openTableRow === tableRow.id}">
                        <td> {{ tableRow.firstname }} </td>
                        <td> {{ tableRow.surname }} </td>
                        <td> {{ tableRow.sex === 'f' ? 'Naine' : 'Mees' }} </td>
                        <td> {{ formatIdCodeToDate(tableRow.personal_code).toLocaleDateString('uk-Uk') }} </td>
                        <td> {{ tableRow.phone.substring(0, 4) + ' ' + tableRow.phone.substring(4) }} </td>
                    </tr>
                    <tr class="inner-tr">
                        <td [colSpan]="columns.length">
                            <div class="table-inner">
                                <div class="table-image" [style.backgroundImage]=" 'url(' + tableRow.image.small +')' ">
                                </div>
                                <div>
                                    <div [innerHTML]="tableRow.intro"></div>
                                    <div>
                                        <a [href]="'article/' + tableRow.id">
                                            <button role="link" class="btn-green">
                                                Loe rohkem
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                }
            </tbody>
        </table>

        <pagination [items]="tableRows" (changePage)="onChangePage($event)"></pagination>
    </div>
    }
</div>