<div class="wrapper">
    <div *ngIf="isLoading" class="loader">
        <img src="../../assets/loader.svg" alt="Loader">
    </div>

    <div class="table-wrap" *ngIf="tableRows">
        <h1 class="title">Nimekiri</h1>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of columns" (click)="column.sortable && sortBy(column.accessor)"
                        [class]="column.sortable && 'sortable'">
                        {{ column.label }} {{ column.sortable && sortIcon(column.accessor) }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let tableRow of pageOfItems; index as i">
                    <tr (click)="this.openTableRow === i ? this.openTableRow = -1 : this.openTableRow = i"
                        [ngClass]="this.openTableRow === i ? 'open' : ''">
                        <td> {{ tableRow.firstname }} </td>
                        <td> {{ tableRow.surname }} </td>
                        <td> {{ tableRow.sex === 'f' ? 'Naine' : 'Mees' }} </td>
                        <td> {{ formatIdCodeToDate(tableRow.personal_code).toLocaleDateString('uk-Uk') }} </td>
                        <td> {{ tableRow.phone.substring(0, 4) + ' ' + tableRow.phone.substring(4) }} </td>
                    </tr>
                    <tr class="inner-tr">
                        <td [colSpan]="columns.length">
                            <div class="table-inner">
                                <div class="table-image" [style.backgroundImage]=" 'url(' + tableRow.image.small +')' ">
                                </div>
                                <div>
                                    <div [innerHTML]="tableRow.intro"></div>
                                    <div>
                                        <a [href]="'article/' + tableRow.id">
                                            <button role="link" class="btn-green">
                                                Loe rohkem
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <pagination [items]="tableRows" (changePage)="onChangePage($event)"></pagination>
    </div>
</div>