<div class="wrapper">
    <loader [showLoader]="isLoading" />

    @if (article) {
    <article>
        <h1 class="title"> {{ article.title }} </h1>
        <div class="intro" [innerHTML]="article.intro"></div>

        <app-twn-image [image]="article.image" />

        <div class="article-body" [innerHTML]="article.body"></div>

        @if (article.tags.length) {
        <div class="article-tags">
            @for (tag of article.tags; track tag;) {
            <button>{{ tag }}</button>
            }
        </div>
        }
    </article>
    }
</div>