<header>
  <button (click)="onToggle()">Nupp</button>
  <a href="/" class="logo">
    <img src="../assets/logo.svg" alt="site logo" title="site logo" />
  </a>
</header>

<nav [class.open]="showToggle">
  <a class="button logo" routerLink="/">
    <img src="../assets/logo.svg" alt="Site logo">
  </a>
  <a routerLink="/article" routerLinkActive="active" (click)="onToggle()">Artikkel</a>
  <a routerLink="/table" routerLinkActive="active" (click)="onToggle()">Tabel</a>
</nav>

<main class="main">
  <router-outlet />
</main>